.container {
  margin-top: 50px ;
  display: flex;
  justify-content: center;
  background-color: white;
}

.fine {
  height: 500px;
  border-radius: 50px;
  border: solid black 2px;
}

.infofine {
  margin-top: 20px;
  background-color: grey;
  text-align: center;
  border-radius: 5px;
  margin-left: 300px;
  margin-right: 300px;
  border: solid black 2px;
  margin-bottom: 100px;
}