body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  margin-left: 100px;
  margin-right: 100px;
}
/*NAVBAR-Start*/
.navbar-element {
  display: flex;
  align-items: center;
  flex: 1;
  height: 20px;
  padding-right: 130px;
}
.navbar-element-logo {
  display: flex;
  align-items: center;
  flex: 2;
  height: 20px;
  padding-left: 20px;
}

.navbar-element a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.logo-image {
  display: inline-block;
  height: 50px;
}

.logo-picture {
  padding-left: 10px;
  padding-right: 220px;
  height: 35px;
  margin-bottom: 7px;
}

.navbar {
  background-color: white;
  display: flex;
  justify-content: center;   /*vertical positioning - main axis*/
  align-items: center;       /*horizontal positioning - cross axis*/
  width: 100%;
  margin-right: 140px;
}
.navbar-wrapper {
  background-color: white;
  position: fixed;
  top: 0px;
  height: 85px;
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 999;
  width: 100%;
  margin-right: -200px; /*slight problems here*/
}

.navbar-divider {
  top: 85px;
  border: none;     /*defaults weg - dann eigene Änderungen*/
  border-top: 3px solid black;
  position: sticky;  /*sticky statt fixed für <hr>*/
  z-index: 999;
  width: 100%;
}
/*NAVBAR-Ende*/

/*main-Start*/
.headline-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 110px;
  margin-bottom: 50px;
  border: solid black 2px;
  border-radius: 5px;
  background-color: grey;
  min-width: 300px;
}
.headline-container-wrapper {
  display: flex;
  justify-content: center;
}


button {
  height: 999px;
  width: 999px;
  font-size: 20px;
  font-weight: bold;
  background-color: grey;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  border-radius: 10px;
}
#learn-button {
  cursor: wait;
}

button:hover {
  opacity: 0.7;
  box-shadow: 10px 10px 20px black;
}

.button-picture {
  margin-left: 60px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.nav-button {
  margin-left: 100px;
  height: 60px;
  width: 120px;
  margin-top: 30px;
}
.nav-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 900px) {
  .nav-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .nav-grid {
    grid-template-columns: 1fr;
  }
}

.button-image-container {
padding-left: 30px;
}
.interests-container {
  margin-bottom: 100px;
  width: 100%;
}
/*main-Ende*/

/*werbebanner-Start*/
.banner {
  background-color: red;
  color: black;
  border-radius: 10px;
  line-height: 60px;
  text-align: center;
  display: block;
  animation: blink 3s infinite;
}

@keyframes blink {
  50% {
    background-color: black;
    color: red;
  }
}
/*werbebanner-Ende*/

/*footer-Start*/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  padding: 10px;
}


.footer-element {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}
/*footer-Ende*/