.container {
  display: flex;
  justify-content: center;
  background-color: #181a1b;
}

.fine {
  height: 700px;
  border-radius: 50px;
}

.infofine {
  margin-top: 20px;
  background-color: grey;
  text-align: center;
}