body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.banner {
  background-color: red;
  color: black;
  border-radius: 10px;
  animation: blink 3s infinite;
  line-height: 80px;
  text-align: center;
  display: block;
  margin-top: 10px;
}

@keyframes blink {
  50% {
    opacity: 0.2;
  }
}

.interests {
  font-size: larger;
  color: grey;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 100px;
}

button {
  height: 100px;
  width: 200px;
  font-size: 20px;
  font-weight: bold;
  background-color: grey;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  border-radius: 10px;
}
button:hover {
  opacity: 0.7;
  box-shadow: 10px 10px 20px black;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  padding: 10px;
  height: 60px;
}

.footer-element {
  display: inline-block;
  margin-left: 40px;
  margin-right: 40px;
}

.navbar-element {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 10px;
  height: 20px;
}

.navbar-element a {
  text-decoration: none;
  color: black;
}

.logo-image {
  display: inline-block;
  height: 50px;
}

.logo-picture {
  padding-left: 10px;
  padding-right: 50px;
  height: 40px;
  margin-bottom: 8px;
}

.navbar {
  background-color: white;
  display: flex;
  justify-content: center;
}
.navbar-wrapper {
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0px;
  height: 75px;
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 999;
}

.navbar-divider {
  margin-top: 50px;

  border: none;
  border-top: 1px solid black;

  position: sticky;
  z-index: 999;
}

.kontaktfont {
  color: aqua;
  margin-left: 15px;
}
.kontakt {
  text-align: center;
}
input {
  font-size: 18pt;
  border-radius: 10px;
}
textarea {
  font-size: 14pt;
  border-radius: 10px;
}
.submitbutton {
  transition-duration: 0.4s;
}
.submitbutton:hover {
  background-color: #4caf50;
  color: white;
}
